@import "../core/mixins.scss";

.header {
    position: relative;
    height: auto;
    margin-top: -103px;

    @include lg {
        height: 700px;
    }
    .header-image {
        height: 400px;
        width: 100vw;
        object-fit: cover;
        filter: brightness(0.4);
        @include lg {
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            height: 100%;
        }
    }

    .calendar-div { 
        padding-top: 20px;  
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        @include md {
            flex-direction: row;
        }   
        @include lg {
            padding-top: 200px;
            flex-direction: row;
        }   

        .utilities {
            background-color: #f2f2f2e0;
            border-radius: 10px;
            padding: 20px;
        }
        

        .MuiDateCalendar-root {
            box-shadow: 0px 5px 10px rgb(44, 44, 44);
            background-color: white !important;
            border-radius: 10px;
            margin: 0 !important;
            @include lg {
                float: right;
            }

        }
    }
}