.button-theme {
    color: #faf0dc;
    background-color: rgba(5, 3, 14, 0.774);
    border-radius: 15px;
    text-align: center;
    border: 1px solid black;
    padding: 8px 25px;
    letter-spacing: 2px;
    width: auto;
    align-self: center;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: rgba(5, 3, 14, 0.932);
        scale: 1.05;
    }
}


.admin-btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : 0.2 ease-in-out;
    transition: 0.2 ease-in-out;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #ffeba7;
    color: #102770;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    transition: 0.2s ease-in-out;
    text-decoration: none;
    &:active,
    &:focus{  
      background-color: #102770;
      color: #ffeba7;
      box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
    &:hover{  
      background-color: #102770;
      color: #ffeba7;
      box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
    }
  }


  //Delete button
.delete-button {
  height: 40px;
  // width: 150px;
  max-width: 150px;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;


  .overlay-button {
      position: absolute;
      background-color: #ff4542;
      width: 100%;
      height: 100%;
      border: none;
      top: 0px;
      left: 0;
      color: white;
      text-align: center;
      transition: 0.3s ease-in-out;
      z-index: 5;
  }

  .remove-button {
      top: -40px;
  }

  .option-buttons {
      width: 100%;
      height: 100%;
      display: flex;
      text-align: center;


      button {
        width: 50%;
        height: 100%;
        text-decoration: none;
        transition: 0.2s ease-in-out;
        border: none;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 400;
      }
      .cancel-button {
          background-color: #ffeba7;
          color: #102770;        

          &:hover {
            background-color: #102770;
            color: #ffeba7;
            box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
          }
      }
  }
}

.save-button {
  background: rgb(79, 212, 79);

  &:hover {
      background-color: #102770;
  }
}
.delete-button {
  background: rgb(248, 93, 93);

  &:hover {
    background-color: #102770;
  }
}
