.navigationbar {   
    background-color: black;

    .container {
        position: relative;
        .hamburger {
            z-index: 10;
            display: block;
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
            transition: all 0.7s ease;
        }
        
        .hamburger:focus {
            box-shadow: none !important;
        }
        
        .hamburger div {
            width: 30px;
            height: 3px;
            background: #ffffff !important;
            margin: 5px;
            transition: all 0.3s ease;
        }
        
        .toggle .line1 {
            transform: rotate(-45deg) translate(-5px,6px);
        }
        
        .toggle .line2 {
            transition: all 0.7s ease;
            width: 0;
        }
        
        .toggle .line3 {
            transform: rotate(45deg) translate(-5px,-6px);
        }
        .logo {
            font-size: 30px;
            text-decoration: none;
            color: white;        
        }
    }
}