@import "../../styles/core/mixins.scss";
@import "../../styles/core/colours.scss";

.card-round {
    width: 150px;
    height: 150px;
    z-index: 5;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    transition: 0.2s ease-in-out;

    &:hover {
        scale: 1.1;
    }
    &:hover img {
        filter: brightness(1);
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.7);
        transition: 0.2s ease-in-out;
    }
    .text {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #ffffffb9;
        padding: 3px 0;
        h3 {
            font-size: 18px;
            margin: 0;
        }
    }
    
}